* {
  text-rendering: geometricPrecision;
}

body {
  background-color: #F9ECE9;
  font-size: 20px;
  color: rgba(94,55,52,100);
}

body, a, p {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: rgba(94,55,52,100);
  transition: opacity 150ms ease-in-out;
}

a:hover {
  opacity: .6;
}

.container {
  max-width: 100%;
  height: auto;
  margin: 60px;
}

.main-title {
  font-size: 52px;
  font-weight: 300;
}


.main-title a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300 !important;
}

.secondary-text {
  opacity: .6;
}

#info {
  display: flex;
}

#bio {
  width: 70%;
  padding-top: 56px;
  padding-right: 60px;
}

#bio .main-title {
  margin: 0 !important;
}

#contact {
  width: 30%;
}

#contact span:first-child p {
  margin: 0 !important;
}

#contact .main-title {
  margin: 0;
  padding-top: 36px;
}

#contact .main-title a {
  display: inline-block;
}

#recent-work {
  margin-top: 150px;
}

#recent-work ul {
  list-style-type: none;
  padding: 0;
  width: 86%;
}

#recent-work ul li {
  margin: 80px auto;
}

#recent-work ul li:first-child {
  margin-top: 40px;
}

.footer {
  margin-top: 150px;
}



@media (max-width: 880px) {
  body {
    font-size: 18px;
  }
  .main-title {
    font-size: 36px;
  }
  .container {
    margin: 40px 20px;
  }
  #info {
    flex-direction: column;
  }
  #bio {
    width: 95%;
    padding-top: 20px;
    padding-right: 0px;
  }
  #contact {
    width: 100%;
    margin-top: 80px;
  }
  #recent-work {
    margin-top: 100px;
  }
  #recent-work ul {
    width: 95%;
  }
  #bio, #recent-work ul {
    max-width: 650px;
  }
}
