* {
  text-rendering: geometricPrecision;
}

body {
  background-color: rgba(255,255,255,1);
  font-size: 20px;
  color: rgba(0,0,0,1);
}

body, a, p {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 a {
  color: rgba(0,0,0,1);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: rgba(37,77,255,1);
  transition: opacity 150ms ease-in-out;
}

a:hover {
  opacity: .6;
}

.container {
  max-width: 100%;
  height: auto;
  margin: 60px;
}

.main-title {
  font-size: 56px;
  font-weight: 300;
}


.main-title a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300 !important;
}

.secondary-text {
  opacity: .6;
}

#hp__main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

#hp__main-navigation p {
  margin: 0;
}

#hp__main-content {
  display: flex;
}

#hp__main-content ul {
  list-style-type: none;
  padding-left: 0;
}

#hp__main-content ul li {
  margin-top: 100px;
}

#hp__main-content ul li:first-child {
  margin-top: 0;
}

#hp__main-content ul li img {
  display: inline-block;
  width: 100%;
}

#hp__main-content .cs__context {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#intro {
  max-width: 40%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

#intro h1.main-title {
  padding-right: 40px;
}

#wv-emoji {
  display: inline-block !important;
  animation: 1s ease-in-out infinite hello;
}

@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@media (max-width: 880px) {
  body {
    font-size: 18px;
  }
  .main-title {
    font-size: 36px;
  }
  .container {
    margin: 40px 20px;
  }
}
