* {
  text-rendering: geometricPrecision;
}

body {
  background-color: rgba(255,255,255,1);
  font-size: 20px;
  color: rgba(0,0,0,1);
}

body, a, p {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 a {
  color: rgba(0,0,0,1);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 a:hover {
  color: rgba(0,0,0,.6) !important;
}

a {
  color: rgba(37,77,255,1);
  transition: color 150ms ease-in-out;
}

a:hover {
  color: rgba(37,77,255,.6);
}

.container {
  max-width: 100%;
  height: auto;
  margin: 60px;
}

.main-title {
  font-size: 54px;
  font-weight: 300;
}


.main-title a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300 !important;
}

.secondary-text {
  opacity: .6;
}

#hp__main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

#hp__main-navigation p {
  margin: 0;
}

#hp__main-content {
  display: flex;
}

#hp__main-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#hp__main-content ul li {
  margin-top: 100px;
}

#hp__main-content ul li:first-child {
  margin-top: 0;
}

#hp__main-content ul li img {
  display: inline-block;
  width: 100%;
}

#hp__main-content .cs__context {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#hp__main-content .cs__context span:last-child {
  display: none;
}

#wv-emoji {
  display: inline-block !important;
  animation: 1s ease-in-out infinite hello;
}


#intro {
  max-width: 40%;
  min-width: 40%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#intro h1.main-title {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 40px;
  margin: 0;
}

#intro__container {
  height: 100%;
  overflow: scroll;
}

#recent-work {
  width: 60%;
}


/* Flickity Properties */

.main-carousel {
  height: 70.23vh;
  overflow: hidden;

}

.carousel-cell {
  width: 100%;
}

.carousel-cell img {
  width: 100%;
}


@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1365px) {
  .main-title {
    font-size: 3.85vw;
  }
  #intro h1.main-title {
    padding-right: 3vw;
  }
}

@media (max-width: 1080px) {
  #hp__main-navigation {
    margin-bottom: 24px;
  }

  #hp__main-content {
    flex-direction: column;
  }
  #intro {
    max-width: 100%;
    width: 80%;
    height: auto;
    position: relative;
    margin-bottom: 60px;
  }
}


@media (max-width: 880px) {
  body {
    font-size: 18px;
  }
  .main-title {
    font-size: 36px;
  }
  .container {
    margin: 20px 20px 40px 20px;
  }
  .cs__context span:first-child {
    max-width: 60%;
  }
  #hp__main-content ul li {
    margin-top: 60px;
  }
  #hp__main-content .cs__context {
    margin-bottom: 24px;
  }
}

@media (max-width: 450px) {
  .container {
    margin: 0;
  }
  .main-title {
    font-size: 9.75vw;
  }
  #hp__main-navigation {
    margin: 24px 20px;
  }
  #intro {
    width: auto;
    margin: 0px 20px 40px 20px;
  }
  #intro h1.main-title {
    padding-bottom: 44px;
  }
  #hp__main-content .cs__context {
    padding: 40px 20px 24px 20px;
    margin-bottom: 0;
  }
  #hp__main-content ul li {
    margin-top: 0;
  }
  #hp__main-content ul li img {
    vertical-align: bottom;
  }
  #cs-vidmob {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1) !important;
  }
  #cs-vidmob a {
    color: rgba(255,255,255,1) !important;
  }
  #cs-ancient-foods {
    background-color: #40401b;
    color: rgba(255,255,255,1) !important;
  }
  #cs-ancient-foods a {
    color: rgba(255,255,255,1) !important;
  }
  #cs-dailypay {
    background-color: #e8ebf0;
  }
  #cs-arlo {
    background-color: #fafafa;
  }
  #footer {
    margin: 0px 20px 40px 20px;
  }
}
